.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background: rgb(237, 249, 255); */
}

nav {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-height: 10vh;
	background: rgb(237, 249, 255);
	color: black;
}

.logo-img {
	width: 10rem;
}

.kategorija-dugme {
	border-radius: 0 !important;
	flex-basis: 10px;
	flex-grow: 1;
	margin: 0 10px;
}

.proizvodi-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.proizvod-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 10px;
}

.proizvod-container:hover {
	border: none;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.proizvod-container img {
	height: 30vh;
	object-fit: cover;
}


.korpa-tabela thead {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;

}

.korpa-tabela thead th {
	font-weight: 500;
	padding: 10px 10px;
}

.proizvod-container-korpa img {
	height: 15vh;
	object-fit: cover;
}

.proizvod-container-korpa .input-group{
	justify-content: center !important;
}

.korpa-tabela tbody tr{
	border-bottom: 1px solid lightgray;
}

.korpa-tabela tbody td{
	display: flex;
	align-items: center;
}





  .star-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: initial;
  }
  .star-wrapper a, .star-wrapper i{
	font-size: 3em;
	color: rgb(205, 211, 150);
	text-decoration: none;
	transition: all 0.5s;
	margin: 4px;
  }
  .star-wrapper a:hover, .star-wrapper i:hover{
	color: rgb(155, 141, 63);
	transform: scale(1.3);
  }
  .active-star{
	  color:gold !important;
  }
  .s1:hover ~ a {
	color: gold;
  }
  .s2:hover ~ a {
	color: gold;
  }
  .s3:hover ~ a {
	color: gold;
  }
  .s4:hover ~ a {
	color: gold;
  }
  .s5:hover ~ a {
	color: gold;
  }
  .wraper {
	position: absolute;
	bottom: 30px;
	right: 50px;
  }
  